:root {

    /* Colors */
    --white:    #FFFFFF;
    --Black:    #000000;
    --Primary-Red:   #BD3A5A;
    --Off-White:  #F8FAFC;
    --Secondary-Blue:   #005A8F;
    --Tertiary-Navy:    #002439;
    --Hover-Red:    #84283F;

}