:root {

    /* Colors */
    --white:    #FFFFFF;
    --Black:    #000000;
    --Primary-Red:   #BD3A5A;
    --Off-White:  #F8FAFC;
    --Secondary-Blue:   #005A8F;
    --Tertiary-Navy:    #002439;
    --Hover-Red:    #84283F;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--Black);
  
}

/* Classes */

.sign-box {

}

.linkin-p {
    color: var(--Primary-Red);
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.375rem;
}

/* Banner */

.banner {

    background-color: var(--Secondary-Blue);
    color: var(--Off-White);
    width: 100%;
    text-align: center;
    margin-bottom: 5.0625rem;
    padding-bottom: 5.0625rem;
}

.banner h2 {
    font-size: 4.5rem;
    font-weight: bold;
    padding-top: 5.0625rem;
    padding-bottom: 1.6875rem;
    padding-left: 6.3125rem;
    padding-right: 2.125rem;
    text-wrap: balance;
}

.banner p {
    float: right;
    padding-left: 2.125rem;
    padding-bottom: 10.3125rem;
    padding-top: 8.25rem;
    padding-right: 6.3125rem;
}

.banner a {
    text-decoration: none;
    box-sizing: border-box;
    border: 0.0063rem solid var(--Off-White);
    padding-top: .75rem;
    padding-bottom: .75rem;
    padding-right: 1rem;
    padding-left: 1rem;
    
   
}


/* Footer */

.footer {

}

.left-foot {

}

.right-foot {

}